{% extends 'base.html' %}

{% block title %}{{ user.username }}'s profile{% endblock title %}

{% block content %}
    <h1>{{ user.username }}</h1>
    <p>{{ user.first_name }}</p>
    <p>{{ user.last_name }}</p>
    <img src="{{ user.profile.avatar.url }}">

    <a href="{% url 'myaccount:profile-update' %}">Update Profile</a> |
    <a href="{% url 'account_email' %}">Manage Email</a> |
    <a href="{% url 'account_change_password' %}">Change Password</a> |
    <a href="{% url 'account_logout' %}">Logout</a>

{% endblock content %}