{% extends 'base.html' %}

{% block title %}Add Position{% endblock title %}

{% block content %}
    <h1>ALL POSTS</h1>
    {% for post in posts %}
        <h3>{{ post.title }}</h3>
        <p>Categories: {% for category in post.category.all %} {{ category.name }} / {% endfor %}</p>
        <p>Author: {{ post.author }}</p>
        <p>{{ post.date_added }}</p>
        <a href="{% url 'NewsBoard:post-detail' post.id %}">View</a>
        <hr>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <nav aria-label="paginate panel">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="?page=1">
            First
          </a>
        </li>
        {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="previous">
                <span aria-hidden="true">«</span>
                <span class="sr-only">previous</span>
              </a>
            </li>
        {% endif %}
        {% for row in page_obj.paginator.page_range %}
            {% if row == page_obj.number %}
                <li class="page-item active">
                  <a class="page-link" href="?page={{ row }}">{{ row }}</a>
                </li>
            {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ row }}">{{ row }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">»</span>
                <span class="sr-only">next</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                Last
              </a>
            </li>
        {% endif %}
      </ul>
    </nav>
{% endblock content %}