{% extends 'base.html' %}

{% block title %}Post {{ post.id }}{% endblock title %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <h5>Categories: {% for category in post.category.all %} {{ category.name }} / {% endfor %}</h5>
    {{ post.content|safe }}
    <p>Author: {{ post.author }}</p>
    <p>{{ post.date_added }}</p>
    <hr>
    {% if user == post.author %}
        <button class="btn btn-danger"><a href="{% url 'NewsBoard:post-delete' post.id %}">Delete </a></button>
        <button class="btn btn-danger"><a href="{% url 'NewsBoard:post-edit' post.id %}">Edit </a></button>
    {% else %}
        {% if user not in post.liked.all %}
            <button class="btn btn-success"><a href="{% url 'NewsBoard:post-like' post.id %}">Super</a></button>
        {% else %}
            <button class="btn btn-danger"><a href="{% url 'NewsBoard:post-dislike' post.id %}">Not very</a></button>
        {% endif %}
    {% endif %}


{% endblock content %}